<!DOCTYPE HTML>

<html>
	<head>
		<title>Reação Popular</title>
		<meta charset="utf-8">
		
		<!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/-->
		<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script-->
		
		<script src="../js/script.js"></script>
		
		<link href="../css/graficos.css" rel="stylesheet"/>
	</head>
	
	<body onload="recebePrograma();">
		<div class="metade">
			<div class="card">
				<div class="emoction" id="graf">
				</div>
			</div>
		</div>
	</body>
</html>