<!DOCTYPE HTML>

<html>
	<head>
		<title>Reação Popular</title>
		<meta charset="utf-8">
		
		<!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/-->
		<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script-->
		
		<script src="../js/script.js"></script>
		
		<link href="../css/reacao_popular.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="metade">
			<div class="card">
				<div class="emoction">
				</div>
				<div class="nome-emoction">
					Sentimento: Positivo
				</div>
			</div>
		</div>
		
		<div class="metade">
			<div class="card">
				<div class="table">
					<div class="row">
						<div class="icone-row" id="emo-5">
						</div>
						<div class="valor-row">
							3452
						</div>
						<div class="porcent-row">
							16,01%
						</div>
					</div>
					<div class="row">
						<div class="icone-row" id="emo-4">
						</div>
						<div class="valor-row">
							6803
						</div>
						<div class="porcent-row">
							31,54%
						</div>
					</div>
					<div class="row">
						<div class="icone-row" id="emo-3">
						</div>
						<div class="valor-row">
							10023
						</div>
						<div class="porcent-row">
							46,47%
						</div>
					</div>
					<div class="row">
						<div class="icone-row" id="emo-2">
						</div>
						<div class="valor-row">
							1034
						</div>
						<div class="porcent-row">
							4,79%
						</div>
					</div>
					<div class="row">
						<div class="icone-row" id="emo-1">
						</div>
						<div class="valor-row">
							256
						</div>
						<div class="porcent-row">
							1,19%
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>