<!DOCTYPE HTML>

<html>
	<head>
		<title>Análise Tweets</title>
		<meta charset="utf-8">
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<link href="css/style.css" rel="stylesheet"/>
		<script src="js/script.js"></script>
	</head>
	
	<body>
		<div class="total">
			<div class="conteudo">
				<div class="lista">
					<p class="lbl-serie">Escolha uma série:</p>
					<select class="cmb-serie" id="lista-programa" onchange="proximaEtapa()">
						<option>Selecione...</option>
						<option>Master Chef Profissionais</option>
						<option>Polícia 24h</option>
						<option>The Voice Brasil</option>
						<option>Brasil Urgente</option>
					</select>
				</div>
				
				<div class="box">
					<iframe src="relatorios/escolha_programa.html" id="telao"></iframe>
				</div>
			</div>
			<div class="rodape">
				<div class="opcao">
					<input type="button" onclick="go('relatorios/reacao_popular.html')" class="btn-opcao" id="reacao" value="Reação Popular"></input>
				</div>
				<div class="opcao">
					<input type="button" onclick="go('relatorios/dados_coletados.html')" class="btn-opcao" id="dados" value="Dados Coletados"></input>
				</div>
				<div class="opcao">
					<input type="button" onclick="go('relatorios/graficos.html')" class="btn-opcao" id="graficos" value="Gráficos"></input>
				</div>
				<div class="opcao">
					<input type="button" onclick="go('relatorios/comparativo.html')" class="btn-opcao" id="comparativo" value="Comparativo"></input>
				</div>
			</div>
		</div>
	</body>
</html>